## 1.import library

In [79]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
data=pd.read_csv("adult.csv")

In [80]:
data

       age workclass  fnlwgt  ... hours.per.week  native.country income
0       90         ?   77053  ...             40   United-States  <=50K
1       82   Private  132870  ...             18   United-States  <=50K
2       66         ?  186061  ...             40   United-States  <=50K
3       54   Private  140359  ...             40   United-States  <=50K
4       41   Private  264663  ...             40   United-States  <=50K
...    ...       ...     ...  ...            ...             ...    ...
32556   22   Private  310152  ...             40   United-States  <=50K
32557   27   Private  257302  ...             38   United-States  <=50K
32558   40   Private  154374  ...             40   United-States   >50K
32559   58   Private  151910  ...             40   United-States  <=50K
32560   22   Private  201490  ...             20   United-States  <=50K

[32561 rows x 15 columns]

In [81]:
data[data == '?'] = np.nan

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [82]:
print(data.isnull().sum(axis = 0))

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

## 2.handling missing values

In [83]:
for col in ['workclass', 'occupation', 'native.country']:
    data[col].fillna(data[col].mode()[0], inplace=True)

In [84]:
data

       age workclass  fnlwgt  ... hours.per.week  native.country income
0       90   Private   77053  ...             40   United-States  <=50K
1       82   Private  132870  ...             18   United-States  <=50K
2       66   Private  186061  ...             40   United-States  <=50K
3       54   Private  140359  ...             40   United-States  <=50K
4       41   Private  264663  ...             40   United-States  <=50K
...    ...       ...     ...  ...            ...             ...    ...
32556   22   Private  310152  ...             40   United-States  <=50K
32557   27   Private  257302  ...             38   United-States  <=50K
32558   40   Private  154374  ...             40   United-States   >50K
32559   58   Private  151910  ...             40   United-States  <=50K
32560   22   Private  201490  ...             20   United-States  <=50K

[32561 rows x 15 columns]

## 3.One-hot encoding

In [85]:
#One Hot Coding:
data = pd.get_dummies(data, columns=['workclass','education','marital.status','occupation',
                              'relationship','race','sex','native.country'])

In [86]:
data

       age  fnlwgt  ...  native.country_Vietnam  native.country_Yugoslavia
0       90   77053  ...                       0                          0
1       82  132870  ...                       0                          0
2       66  186061  ...                       0                          0
3       54  140359  ...                       0                          0
4       41  264663  ...                       0                          0
...    ...     ...  ...                     ...                        ...
32556   22  310152  ...                       0                          0
32557   27  257302  ...                       0                          0
32558   40  154374  ...                       0                          0
32559   58  151910  ...                       0                          0
32560   22  201490  ...                       0                          0

[32561 rows x 106 columns]

## 4.splitting data into test and train

In [87]:
income=data['income'].value_counts()
print(income)

<=50K    24720
>50K      7841
Name: income, dtype: int64

In [88]:
data['income']=data['income'].map({'<=50K':1,'>50K':0})

In [89]:
y = data['income']
data.drop(['income','fnlwgt'], axis=1,inplace=True)

In [90]:
train,test,y_train,y_test=train_test_split(data,y, test_size=0.2,shuffle=True)

In [91]:
print(train.shape,test.shape,y_train.shape,y_test.shape)

(26048, 104) (6513, 104) (26048,) (6513,)

5.Logistic regression

In [93]:
LR= LogisticRegression()
LR.fit(train,y_train)
y_pred =LR.predict(test)
print("Accuracy on test set: %0.3f%%"%(accuracy_score(y_test, y_pred)*100))

Accuracy on test set: 84.216%